@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f4ed;
}
#app{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container {
  width: 60rem;
  margin: auto;
  padding-bottom: 1rem;
}
#main{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.brand h1{
  font-family: 'Chango', cursive;
  font-size: 3em;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  color: cadetblue;
  text-shadow: 4px 3px 1px grey;
}

/* Selection Form Card */

.main {
  height: 8rem;
  padding: .5rem;
}
form *:focus {
  outline: 0;
}
form select {
  padding: .5rem 1rem;
  border: 1px solid grey
}
form p {
  margin-top: .5rem;
}
option[disabled]{
  display: none;
}
.form-container label {
  display: block;
  margin-bottom: .6rem;
  font-size: 2rem;
  font-weight: 700;
  color: teal;
}
.slug-button {
  margin-left: 1rem;
  background-color: cornflowerblue;
  color: whitesmoke;
  padding: .7rem 1rem;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
.slug-button:hover {
  opacity: .8;
}

/* Errors and Loadings */

.loading {
  color: teal;
}
.error {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  color: red;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Information Cards */

.card{
  color: white;
  background-color: grey;
  box-sizing: content-box;
  box-shadow: 0 0 0 4px black;
}
.card-header {
  text-align: center;
  padding: .4rem 1rem .2rem 1rem;
  margin: 0;
  margin-top: 1rem;
}
.global {
  width: 24rem;
}
.country {
  width: 34rem;
}
.else h1 {
  color: grey;
}
.global p,
.country p {
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(225, 225, 225);
}
.numbers-list {
  list-style-type: none;
}
.numbers-list li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid black;
  box-sizing: content-box;
  font-weight: 500;
}
.numbers-list li:last-child {
  border-bottom: none;
}
.numbers-list li:first-child {
  border-top: 1px solid black;
}
.numbers-list li:nth-child(odd){
  background-color: teal;
}
@media (max-width: 960px) {
  #container {
    width: 37.5rem;
  }
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    text-align: center;
  }
  .global {
    margin-top: 3.5rem;
  }
  .country {
    margin-top: 1.5rem;
  }
  .slug-button {
    margin: 1rem;
    margin-bottom: 0;
    margin-top: .5rem;
  }
}
.graph {
  position: relative;
  margin-top: 2rem;
  overflow-x: hidden;
}
.graph button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: .5rem 1rem;
  background-color: lightsalmon;
  border: 0;
  color: white;
  font-weight: 900;
  cursor: pointer;
}
.graph button:focus {
  outline: none;
}

/* Transitions */

.slide-fade-enter-active {
  transition: all .5s ease-in-out;
}
.slide-fade-enter {
  transform: translateX(50rem);
  opacity: 0;
}
@media (max-width: 550px) {
  #container,
  .global,
  .country {
    width: 25rem;
  }
}
@media (max-width: 400px) {
  #container,
  .global,
  .country {
    width: 19rem;
  }
  .brand {
    font-size: 12px;
  }
  form select {
    width: 17rem;
  }
}